1_BuildingJavaProjectsGradle/.classpath
1_BuildingJavaProjectsGradle/.gradle/
1_BuildingJavaProjectsGradle/.project
1_BuildingJavaProjectsGradle/.settings/
1_BuildingJavaProjectsGradle/bin/
1_BuildingJavaProjectsGradle/build/

2_BuildingRESTfulWebService/.classpath
2_BuildingRESTfulWebService/.gradle/
2_BuildingRESTfulWebService/.project
2_BuildingRESTfulWebService/.settings/
2_BuildingRESTfulWebService/bin/
2_BuildingRESTfulWebService/build/