1_BuildingJavaProjectsGradle/.classpath
1_BuildingJavaProjectsGradle/.gradle/
1_BuildingJavaProjectsGradle/.project
1_BuildingJavaProjectsGradle/.settings/
1_BuildingJavaProjectsGradle/bin/
1_BuildingJavaProjectsGradle/build/

2_BuildingJavaProjectsGradle/.classpath
2_BuildingJavaProjectsGradle/.gradle/
2_BuildingJavaProjectsGradle/.project
2_BuildingJavaProjectsGradle/.settings/
2_BuildingJavaProjectsGradle/bin/
2_BuildingJavaProjectsGradle/build/